.app {
  margin: 0px auto;
  max-width: 1400px;
  width: 100%;
  font-size: 16px;
}

h1 {
  text-align: center;
}

.address-lookup-wrapper {
  margin: 20px 0;
}

.address-lookup-label {
  margin-right: 10px;
}

.address-lookup-input {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.address-lookup-search-button {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  margin-top: 10px;
}

.address-lookup-select {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  margin-top: 10px;
}

.address-form {
  margin: 20px 0;
  max-width: 500px;
}

.address-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}

.address-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.address-form label {
  margin-bottom: 5px;
}
